@font-face {
  font-family: "iconfont";
  src: url('./iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.van-icon {
  position: relative;
  font-family: "vant-icon", "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.van-icon-my-gallery:before {
  content: "\e681";
}

.van-icon-my-file:before {
  content: "\e68a";
}

.van-icon-my-open-eye:before {
  content: "\e600";
}

.van-icon-my-cloud-lock:before {
  content: "\e6f4";
}

.van-icon-my-close-eye:before {
  content: "\e602";
}

.van-icon-my-user:before {
  content: "\e633";
}

.van-icon-my-fileupload:before {
  content: "\e644";
}

.van-icon-my-logout:before {
  content: "\e62e";
}

.van-icon-my-mkdir:before {
  content: "\e69c";
}

.van-icon-my-dir:before {
  content: "\e605";
}

.van-icon-my-captcha:before {
  content: "\e62f";
}
